@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-made-mirage), var(--font-serif), sans-serif;
  overflow-x: hidden;
}

.font-script {
  font-family: var(--font-script);
}

.font-serif {
  font-family: var(--font-serif);
}

button {
  cursor: pointer;
}

img {
  user-select: none;
}